stages:
  - deploy

deploy_live:
  stage: deploy
  environment:
    name: live
  script:
    - sudo /bin/rm -rf /home/Bubbas/Bubbas/; cp -r . /home/Bubbas/Bubbas
    - source /home/Bubbas/env/bin/activate
    - pip install -r /home/Bubbas/Bubbas/requirements.txt
    - python /home/Bubbas/Bubbas/manage_server.py migrate --noinput
    - sudo /usr/bin/supervisorctl restart all
  tags:
    - Bubbas-live
  only:
    - master
