{% extends "base.html" %}
{% block block_canonical %}
<link rel="canonical" href="https://Bubbas.com{{ request.path }}"/>
{% endblock %}

{% block block_title %}
  <title>Free Job Posting - Job Vacancies - Job search in India - Bubbas</title>

  <meta name="description" content="Bubbas - Free Job posting. Search & Apply for Full Time, Internship,  Walk In Profiles."/>

{% endblock %}

{% block base %}

<div id="container">
	<div id="white">
		<img alt="" src="https://s3-ap-southeast-1.amazonaws.com/pjstatic/img/howitworks.png">
	</div>
</div>

{% endblock %}

